div.navbar, div.btn-group {
	display: none;
}

* {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

table {
	border: 1px solid black;
	text-align: center;
}

address {
	margin-top: 20px;
}





