@charset "UTF-8";

body {
	padding-top: 40px;
}

.hide {
	display: none;
}

/* misc area
-------------------------------------------------- */

.away-from-top {
	margin-top: 60px;
}

table tr td a {
	color: #39f;
}

table tr td a:hover {
	color: #39f;
}

button[type="reset"] {
	margin-left: 5px;
}

/* login area
-------------------------------------------------- */

#login {
	width: 300px;
	margin: auto;
	margin-top: 60px;
}

/* navbar area
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

body._taxes li a._taxes,
body._clients li a._clients,
body._newTax li a._newTax,
body._newClient li a._newClient {
	color: white;
}

/* Add new client area
-------------------------------------------------- */

#newTaxTypeClient {
	width: 400px;
	margin: auto;
	margin-top: 100px;
}

/* Add new task area
-------------------------------------------------- */

#newTaskWell {
	width: 400px;
	margin: auto;
	margin-top: 60px;
}

/* Client list area
-------------------------------------------------- */

#clientList {
	margin-top: 60px;
}

h5.clientLink a {
	color: #797979;
}

/* Client area
-------------------------------------------------- */

.clientInfo {
	margin-top: 60px;
}

span.spacer {
	display: block;
	margin-top: 50px;
}



